.sr-container {
  padding: 0.5rem;
  background-color: white;
  width: 17%;
  margin-left: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.item {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  transition: 100ms ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.default-icon {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.sr-icon {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.sr-name {
  font-size: 0.75em;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .sr-container {
    display: none;
  }
}
