.single-comment {
  display: flex;
  align-content: center;
  flex-direction: column;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 5px;
}

.comment-body {
  width: 100%;
  margin: 0;
  color: rgb(86, 86, 87);
}

.comment-author {
  margin: 0;
  color: red;
}

.comment-ups {
  margin: 0;
}
