.App {
  background-color: rgb(252, 252, 252);
}

.container {
  display: flex;
  justify-items: center;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 800px) {
  .container {
    justify-content: center;
  }
}
